In [1]:
from pandas import read_csv, to_datetime,Timestamp,DateOffset

In [2]:
file = read_csv("./mwater_hw_activities.csv")

In [3]:
file

,Username,Last Activity,App Activity 7 days,Portal Activity 7 days,Country,Region
0,AAB_Aquora,2024-11-05T09:39:32.035Z,0,0,United States,New York
1,aishaniang,2020-12-07T20:17:26.739Z,0,0,United States,Texas
2,alexandro.disla,2024-11-20T18:12:40.207Z,0,134,United States,Florida
3,Alex Bonhomme,2024-11-20T17:55:52.428Z,35,229,Haiti,Ouest
4,Barb S.,2024-11-06T19:10:26.584Z,0,0,United States,Florida
...,...,...,...,...,...,...
92,washdominique,2023-09-25T23:43:05.655Z,0,0,Haiti,Ouest
93,websterlie,2023-10-23T23:23:58.375Z,0,0,Haiti,Ouest
94,wenderson02,2023-07-27T21:41:59.768Z,0,0,Haiti,Ouest
95,Wildaine,2024-11-15T01:08:50.876Z,0,10,Haiti,Ouest
96,yvette.guerrier,2024-11-09T19:28:00.237Z,0,0,United States,Florida

In [13]:
# Convert 'Last Activity' to naive datetime (without timezone) for consistency
file['Last Activity'] = to_datetime(file['Last Activity'], errors='coerce').dt.tz_localize(None)

# Define the 12-month cutoff using naive datetime for consistency
#cutoff_date = Timestamp.now().tz_localize(None) - DateOffset(months=1)
cutoff_date = "2024-10-20"

In [14]:
cutoff_date

'2024-10-20'

## Last Month activities

In [15]:
active_users = file[file['Last Activity'] >= cutoff_date]
num_active_users = len(active_users)
num_active_users

34

In [16]:
active_users['Last Activity'].min()

Timestamp('2024-10-20 16:50:53.199000')

In [17]:
active_users['Last Activity'].max()

Timestamp('2024-11-20 18:13:47.882000')

In [18]:
file.to_excel("mwater_hw.xlsx",index=False)
active_users

,Username,Last Activity,App Activity 7 days,Portal Activity 7 days,Country,Region
0,AAB_Aquora,2024-11-05 09:39:32.035,0,0,United States,New York
2,alexandro.disla,2024-11-20 18:12:40.207,0,134,United States,Florida
3,Alex Bonhomme,2024-11-20 17:55:52.428,35,229,Haiti,Ouest
4,Barb S.,2024-11-06 19:10:26.584,0,0,United States,Florida
8,brent.krueger,2024-11-08 16:07:18.681,0,0,United States,Michigan
14,D5060Hanwash,2024-11-12 19:44:41.989,0,0,Canada,British Columbia
16,DawnJohnson,2024-11-12 00:41:49.085,0,0,United States,Ohio
21,Dukenson.flerency,2024-11-14 15:40:54.563,0,9,Haiti,Ouest
25,elodie.herard,2024-11-14 16:16:47.727,0,1,Dominican Republic,Santo Domingo
32,Jan.Pooley,2024-11-12 05:53:45.250,0,0,United States,New York
34,jduerig,2024-11-12 18:24:42.961,0,0,United States,California
35,Jean Jackendy,2024-11-20 18:11:07.522,25,76,Haiti,Ouest
36,jeanjunior2050,2024-11-20 18:13:47.882,10,0,Haiti,Ouest
41,jp.5 -HANWASH,2024-11-12 05:45:03.740,0,0,United States,New York
44,LindseyCancino,2024-11-12 00:38:21.453,0,0,Bahamas,New Providence
45,lizgoggins,2024-11-11 23:55:50.256,0,0,U.S. Virgin Islands,Saint Thomas Island
46,Magepa1,2024-11-12 16:26:26.587,0,0,Haiti,Ouest
49,mberdjidson,2024-11-15 15:06:59.525,1,0,Haiti,Ouest
54,mmbutschler,2024-11-18 02:39:33.691,1,0,Canada,British Columbia
56,NeilVD,2024-11-18 21:53:57.486,0,5,United States,New York
60,nixons,2024-11-11 22:06:03.773,0,0,Haiti,Ouest
61,Obdias15,2024-10-20 16:50:53.199,0,0,Haiti,Ouest
66,r5leger,2024-11-15 11:33:13.218,0,2,Haiti,Ouest
69,robert.hobaugh,2024-11-11 19:23:18.986,0,0,United States,Pennsylvania
70,ron.denham WASH-RAG,2024-11-12 20:17:18.784,0,0,Canada,Ontario
71,ryan.rowe,2024-11-20 18:06:51.985,0,21,Canada,Quebec
72,Sandra.Hemstead,2024-11-17 18:21:46.003,0,1,United States,Florida
75,sgoldsen,2024-11-12 17:33:27.181,0,0,United States,Florida
81,steverhunt,2024-11-20 16:58:03.529,26,556,United States,Michigan
83,TerryM,2024-11-13 17:07:09.754,0,0,United States,Michigan
85,ThomasKSchmidt,2024-11-20 14:18:16.883,0,2,United States,Michigan
87,Tristam,2024-11-13 19:30:31.904,0,1,United States,Massachusetts
95,Wildaine,2024-11-15 01:08:50.876,0,10,Haiti,Ouest
96,yvette.guerrier,2024-11-09 19:28:00.237,0,0,United States,Florida