# Quarterly User Count Analysis

In [1]:
import pandas as pd

# Load the spreadsheet containing the user data
spreadsheet_path = './reports/user_mWater_data.xlsx'
data = pd.read_excel(spreadsheet_path, sheet_name='Sheet1')

# Convert 'Last Activity' to datetime
data['Last Activity'] = pd.to_datetime(data['Last Activity'], errors='coerce')

# Remove the timezone if it exists (convert to timezone-naive)
data['Last Activity'] = data['Last Activity'].dt.tz_convert(None)

# Filter data for the past 12 months
past_12_months = pd.Timestamp.now(tz=None) - pd.DateOffset(months=12)
filtered_data = data[data['Last Activity'] >= past_12_months]

# Extract the quarter and year
filtered_data['Quarter'] = filtered_data['Last Activity'].dt.to_period('Q')

# Group by quarter and count unique users (by 'user_ID')
quarterly_user_count = filtered_data.groupby('Quarter')['user_ID'].nunique().reset_index()

quarterly_user_count

/var/folders/7v/rs0k237d6nj3vdxfc1h7xtcw0000gn/T/ipykernel_61703/1325939569.py:18: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  filtered_data['Quarter'] = filtered_data['Last Activity'].dt.to_period('Q')

  Quarter  user_ID
0  2023Q4       12
1  2024Q1        6
2  2024Q2        6
3  2024Q3       14
4  2024Q4       14

In [2]:
quarterly_user_count.user_ID.sum()

52

In [6]:
quarterly_user_count.rename(
    columns={'user_ID':'# of Users by Quarter FY24'},
        inplace=True,
)

In [9]:
quarterly_user_count['Units'] = 'Users'
quarterly_user_count

  Quarter  # of Users by Quarter FY24  Units
0  2023Q4                          12  Users
1  2024Q1                           6  Users
2  2024Q2                           6  Users
3  2024Q3                          14  Users
4  2024Q4                          14  Users

In [11]:
quarterly_user_count.to_excel('./reports/quaterly_user_count.xlsx',index=False)

This notebook filters user data for the past 12 months, calculates the number of unique users per quarter, and displays the results.